/* BASE */

html {
    font-family: Poppins-Light, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #000000;
}

body {
    margin: 0 0 0;
    font-size: 1rem;
    overflow-x: hidden;
    background-color: #22252C;
    background-image: url('../img/background.png');
    background-attachment: fixed;
    background-origin: border-box;
    background-blend-mode: luminosity;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    outline: none;
    cursor: pointer;
    padding: 0%;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 0;
    font-weight: normal;
    font-size: 1rem;
}

p {
    margin: 0 0 0;
    padding: 0;
}

ul {
    list-style-type: none;
    padding: 0%;
    margin: 0 0 0;
}

a {
    text-decoration: none;
    color: black;
}

input {
    margin: 0 0 0;
    padding: 0;
    outline: none;
}

label {
    margin: 0 0 0;
    padding: 0;
    outline: none;
}

select {
    cursor: pointer;
    outline: none;
}